<% content_for(:title) { "Consoles" } %>

<h2 class="title is-3">Consoles</h2>

<ol class="ml-5">
    <% @consoles.each do |console| %>
        <li><%= link_to console.name, console %></li>
    <% end %>
</ol>
