<% content_for(:title) { "Consoles" } %>

<h2 class="title is-3">Consoles</h2>

<p class="mb-5">
  There were games published for 5 different consoles from 2004 - 2008. List is in no specific order.
</p>

<ol class="ml-5">
    <% @consoles.each do |console| %>
        <li><%= link_to console.name, console %></li>
    <% end %>
</ol>
