<% content_for(:title) { "Top Publishers" } %>

<h2 class="title is-3">Top Publishers</h2>

<p class="mb-5">
    These are the top publishers ordered from most games published to least published from 2004 - 2008.
</p>

<ol class="ml-5">
    <% @publishers.each do |publisher| %>
        <li>
            <%= link_to publisher.name, publisher %> 
            (<%= publisher.games_count %> games)
        </li>
    <% end %>
</ol>
