<h1 class="title is-1">Top Games and Publishers from 2004 - 2008</h1>

<div class="columns">
    <div class="column">
        <h3 class="title is-5">Top 10 Games</h3>
        <ol class="ml-5">
            <% @games.each do |game| %>
                <li><%= link_to game.title, game %></li>
            <% end %>
        </ol>
        <p class="mt-5">
            <strong><%= link_to "👉 See All Top Games", games_path %></strong>
        </p>
    </div>
    <div class="column">
        <h3 class="title is-5">Top 10 Publishers</h3>
        <ol class="ml-5">
            <% @publishers.each do |publisher| %>
                <li><%= link_to publisher.name, publisher %></li>
            <% end %>
        </ol>
        <p class="mt-5">
            <strong><%= link_to "👉 See All Top Publishers", publishers_path %></strong>
        </p>
    </div>
</div>
