<% content_for(:title) { "Top Games" } %>

<h2 class="title is-3">Top Games</h2>

<p class="mb-5">
  These are the top games published from 2004 - 2008. List is in no specific order.
</p>

<ol class="ml-5">
  <% @games.each do |game| %>
    <li>
      <%= link_to game.title, game %> for the <%= game.consoles.map { |console| link_to console.name, console }.to_sentence.html_safe %> published by <%= link_to game.publisher.name, game.publisher %>
    </li>
  <% end %>
</ol>

<%= paginate @games %>
