<footer>
    <ul>
        <%= link_to "Home", root_path %>
        <%= link_to "Top Games", games_path %>
        <%= link_to "Top Publishers", publishers_path %>
        <p>&copy; 2024 Top Games. All rights reserved.</p>
    </ul>
</footer>
